<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<title>Air Ticket Reservation</title>
<link rel="stylesheet"
	href="./js/libs/bootstrap-css-only/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/libs/angular/angular.js"></script>
<script type="text/javascript"
	src="/js/libs/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript"
	src="/js/libs/angular-spring-data-rest/dist/angular-spring-data-rest.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

</head>
<body ng-controller="FlightController">

	<div class="container">
		<div ng-controller="home as home">
			<div ng-show="!home.authenticated">
				<a class="btn btn-primary btn-sm" href="/login/facebook">Login
					with Facebook</a>

				<!-- div ng-controller="navigation as nav" >
					<form ng-submit="nav.login()">
						<div class="form-group">
							<label for="username">Name:</label> <input type="text"
								class="form-control" id="username" name="username" />
						</div>
						<div class="form-group">
							<label for="password">Password:</label> <input type="password"
								class="form-control" id="password" name="password" />
						</div>

						<button type="submit" class="btn btn-primary">Login as Staff</button>
					</form>
				</div-->
				<div ng-show="home.authenticated">
					Logged in as: <span ng-bind="home.user"></span>
					<div>
						<button ng-click="home.logout()" class="btn btn-primary btn-sm">Logout</button>
					</div>
				</div>
			</div>
		</div>
		<div class="formcontainer">
			<form name="myForm" class="form-horizontal" action="">
				<div class="panel panel-default">
					<div class="tablecontainer">
						<div class="panel-heading">
							<span class="lead">Flights</span> <input ng-model="ft.name" />
						</div>
						<table class="table table-hover">
							<tbody>
								<tr>
									<th width="20%"></th>
									<td>Name</td>
									<td>Seats</td>
									<th width="20%"></th>
								</tr>
								<tr ng-repeat="f in flights | filter:ft">
									<td><button type="button" class="btn btn-success"
											ng-click="getAllSeats(f.id)">Select</button></td>
									<td><span ng-bind="f.name"></span></td>
									<td><span ng-bind="f.numberOfSeats"></span></td>
									<td><button type="button" class="btn btn-danger"
											ng-if="isStaff" ng-click="cancelFlight(f.id)">Cancel</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel-heading">
						<span class="lead">Seats</span>
					</div>
					<div class="btn-group btn-group-sm" role="group"
						ng-repeat="s in seats">
						<button ng-show="s.status=='checkingDone'" type="button"
							class="btn btn-success" ng-click="seatAction(s.action)">{{s.number}}</button>
						<button ng-show="s.status=='reserved'" type="button"
							class="btn btn-warning" ng-click="seatAction(s.action)">{{s.number}}</button>
						<button ng-show="s.status=='empty'" type="button"
							class="btn btn-secondary" ng-click="seatAction(s.action)">{{s.number}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>